/*<style class="cp-pen-styles"> **********************************/
           /*Variables*/
  /*********************************** */
/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
.navbar-inverse {
  background: rgba(62, 195, 246, 0);
  border-bottom: none;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: rgba(255, 255, 255, 0.75);
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #22F;
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  padding-top: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
}

.small-logo {
  color: white;
  text-shadow: 1px 1px 2px #000000;
  font-size: 2.5em;
  letter-spacing: 1px;
  padding-bottom: 2px;
}

/* *********************************
           Big Logo
  ********************************** */
.big-logo-row {
  background: gold;
  text-shadow: -2px 2px 4px #fff;
}
.big-logo-row .big-logo-container {
  padding-top: 50px;  
}
.big-logo-row h1 {
  font-size: 2.5em;
  letter-spacing: 1px;
  margin: 0;
  padding: 0 0 15px 0;
}

h1{
  font-size:  2em;
}

#map {
      height: 300px;
      width: 450px;
    }

@media (min-width: 375px) {
  h1 {
    font-size: 2em;
  }
  .jumbotron h1{
    font-size: 2em;
  }
  #map{
        height: 400px;
        width: 475px;
    }
}
@media (min-width: 440px) {
  h1 {
    font-size: 2.5em;
  }
  .jumbotron h1{
    font-size: 2.5em;
  }
  #map{
        height: 300px;
        width: 400px;
    }
}
@media (min-width: 500px) {
  h1 {
    font-size: 2.5em;
  }
  .jumbotron h1{
    font-size: 2.5em;
  }
  #map{
        height: 200px;
        width: 500px;
    }
}
@media (min-width: 630px) {
  h1 {
    font-size: 3em;
  }
  .jumbotron h1{
    font-size: 3em;
  }
  #map{
        height: 400px;
        width: 500px;
    }
}
@media (min-width: 768px) {
  h1 {
    font-size: 3em;    
  }
  .jumbotron h1{
    font-size: 3em;
  }
  #map{
        height: 600px;
        width: 700px;
    }
}
  
@media (min-width: 1200px) {
  h1 {
    font-size: 3.5em;
  }
  .jumbotron h1{
   font-size: 3.5em; 
  }
  #map{
        height: 500px;
        width: 800px;
    }

}
