/* BASE STYLES
============================================================================= */
/*html         { overflow-y:hidden; }*/

.page {
    position: relative;     
    left: 0;    
    width: 100%;
    height: 100%;
    background: url('../imgs/7029046-underwater-bubbles.jpg')          
}

/*.page h1 	{ font-size:60px; }*/
.page a     { margin-top:50px; }


/* INDIVIDUAL PAGES
============================================================================= */
.page-home 		{ 
    background:url("../imgs/7029046-underwater-bubbles.jpg");   
    background-repeat:no-repeat;
    background-size:cover;
    color:white;    
}
.page-prices 	{ background:#98afd6; color:#a55400; }
.page-contact 	{ background:#6b89ba; color:#9e0000; }
.page-WorkWithUs { background:#c4daff; color:#00907c; }


@media screen and (max-width: 480px) { 
    .page {
        position: relative;               
        background: black;        
    }
    .ng-animate {
      transition: 0s;
    }
}
.jumbotron{
    background-color:rgba(0, 0, 0, 0.5);    
}
#jumboHome{
        margin-top:     15px;
        /*background: linear-gradient(45deg,  rgba(0, 0, 0, 1.0) 0%,rgba(0, 0, 0, 0.5) 100%); /* W3C */
        background-image: url("../imgs/Window_1920x450.jpg");
        background-size:    cover;
        /*background-repeat:  no-repeat;  */
        /*width:  100%;*/
        /*height:     100%;*/

}

.panel{
    background-color: rgba(48, 101, 186,0.85);
    color: white; 
}
.panel p{    
    padding: 15px;
}
.panel-title{
    font-weight: bold;
}
.panel-heading{
    font-weight: bold;
}

.aln_right{
    float:right;
}

#map {
      height: 520px;
      width: 700px;
    }