/* BASE STYLES
============================================================================= */
/*html         { overflow-y:hidden; }*/

body{
    font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
}
.page {
    position: relative;     
    left: 0;    
    width: 100%;
    height: 100%;
    background: url('../imgs/7029046-underwater-bubbles.jpg');
    padding-bottom: 50px;         
}

/*.page h1 	{ font-size:60px; }*/
.page a     { margin-top:50px; }


/* INDIVIDUAL PAGES
============================================================================= */
.page-home 		{ 
    background:url("../imgs/7029046-underwater-bubbles.jpg");   
    background-repeat:no-repeat;
    background-size:cover;
    color:white;    
}
.page-prices{
    background:url("../imgs/rain.jpg");   
    background-repeat:no-repeat;
    background-size:cover;
    color:white;    
}
.page-workwithus{
    background:url("../imgs/7029046-underwater-bubbles.jpg");   
    background-repeat:no-repeat;
    background-size:cover;
    color:white; 
}
.page-workwithus a {
    font-style:     bold;
    color:  white;
    text-decoration:    underline;
}

.page-workwithus>panel {    
    padding-top: 0px;
    margin-top:     0px
}

.page-contact{
    background:url("../imgs/rain.jpg");   
    background-repeat:no-repeat;
    background-size:cover;
    color:white;      
}

.jumbotron{
    background-color:rgba(0, 0, 0, 0.5);
    color:white;    
}
#jumboHome{
        margin-top:     15px;        
        background-image: url("../imgs/Window_1920x450.jpg");
        background-size:    cover;
}
#jumboPrices{
    margin-top:     15px;        
    /*height:     300px;*/
    background-image: url("../imgs/ap_phrase_background.jpg");
    background-size:    cover;   
    text-align:     right;
    padding-right: 50px;    
}
#jumboWorkwithus{
    margin-top:     15px;            
    background-image: url("../imgs/shdhsIR.jpg");
    background-size:    cover;               
    padding-right: 50px;    
    text-align: right;
}
#jumboContact{
    margin-top:     15px;        
    /*height:     300px;*/
    background-image: url("../imgs/ap_phrase_background.jpg");
    background-size:    cover;       
    padding-right: 50px;    
    text-align: right;
}

@media screen and (min-width: 500px) { 
    #jumboPrices{
        padding-right: 100px;    /*keeps text in sky area of image*/
    }
    #jumboWorkwithus{
        padding-right: 100px;    /*keeps text in sky area of image*/
    }
    #jumboContact{
        padding-right: 100px;    /*keeps text in sky area of image*/
    }    
}

.panel{
    background-color: rgba(48, 101, 186,0.85);
    color: white; 
    margin: 15 auto;    
}
.panel p{    
    padding-top: 10px;

}
.panel-title{
    font-weight: bold;
}
.panel-heading{
    font-weight: bold;
}

.aln_right{
    float:right;
}
.card{
    background: white;
    width: 20em;    
    text-align: center;
    padding: 3px;
    border: 10px solid rgba(0,0,0,.125);
    border-radius: 8px;
    border-top: 5px;    
    border-bottom: 5px;
    border-right: 10px;
    border-left: 10px;
    color: black;
    margin:5px;
}
.form-group{
    padding-top:    10px;        
}
.datepicker{
    padding:    10px 10px 10px;
    border-radius:  5px;
}

#quote-panel{
    color:black;
    background-color:   white;


}
iframe {
    padding-top:    20px;
}

