<div class="container">  

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" id="jumboPrices">
                <h1>Our Prices</h1>            
            </div>
        </div>
    </div> <!-- row -->          
      <!-- <div class="panel panel-default">
        <div class="panel-heading">Window Cleaning &amp; Frame Cleaning</div>
        <div class="panel-body">   -->
            <div class="row">        	
               <div class="card col-sm-3">
                  <div class="card-block">
                     <h4 class="card-title">Semi Detached</h4>    
                 </div>
                 <figure>
                  <img src="/imgs/semi1.jpg" alt="Semi Detached" class="img-responsive center-block">
              </figure>
              <div class="card-block">
                 <figcaption class="card-text">
                    All of front including porch and extension.<br><strong>Price £11 - £13</strong>
                </figcaption>
                <div><md-button class="md-primary md-raised" ng-click="showQuoteModal($event)">Quote</md-button> </div>
            </div>
        </div> <!-- card -->        	
        <div class="card col-sm-3">
          <div class="card-block">
             <h4 class="card-title">Semi Detached</h4>    
         </div>
         <figure>
          <img src="/imgs/semi2.jpg" alt="Semi Detached" class="img-responsive center-block">
      </figure>
      <div class="card-block">
         <figcaption class="card-text">
            All of front including glass in door.<br><strong>Price £11 - £13</strong>
        </figcaption>
        <div><md-button class="md-primary md-raised" ng-click="showQuoteModal($event)">Quote</md-button> </div>
    </div>
</div> <!-- card --> 
<div class="card col-sm-3">
  <div class="card-block">
     <h4 class="card-title">Terraced</h4>    
 </div>
 <figure>
  <img src="/imgs/terraced1.jpg" alt="Terraced with Velux" class="img-responsive center-block">
</figure>
<div class="card-block">
 <figcaption class="card-text">
    Front 2 windows EXCL velux in roof<br><strong>Price £6 - £7</strong>
</figcaption>
<div><md-button class="md-primary md-raised" ng-click="showQuoteModal($event)">Quote</md-button> </div>
</div>
</div> <!-- card -->	          	
<div class="card col-sm-3">
  <div class="card-block">
     <h4 class="card-title">Terraced</h4>    
 </div>
 <figure>
  <img src="/imgs/terraced2.jpg" alt="Terraced with glass above door" class="img-responsive center-block">
</figure>
<div class="card-block">
 <figcaption class="card-text">
    Front including glass in &amp; above door.<br><strong>Price £8 - £9</strong>
</figcaption>
<div><md-button class="md-primary md-raised" ng-click="showQuoteModal($event)">Quote</md-button> </div>
</div>
</div> <!-- card -->             	        	
</div> 
<div class="row"> 
 <div class="card col-sm-3">
  <div class="card-block">
     <h4 class="card-title">Detached</h4>    
 </div>
 <figure>
  <img src="/imgs/detached1.jpg" alt="Medium detached" class="img-responsive center-block">
</figure>
<div class="card-block">
 <figcaption class="card-text">
    Front 2 windows EXCL velux in roof<br><strong>Price £11 - £13</strong>
</figcaption>
<div><md-button class="md-primary md-raised" ng-click="showQuoteModal($event)">Quote</md-button> </div>
</div>
</div> <!-- card -->	          	
<div class="card col-sm-3">
  <div class="card-block">
     <h4 class="card-title">Detached</h4>    
 </div>
 <figure>
  <img src="/imgs/detached2.jpg" alt="Larger detached" class="img-responsive center-block">
</figure>
<div class="card-block">
 <figcaption class="card-text">
    Front including glass in &amp; above door.<br><strong>Price £17 - £19</strong>
</figcaption>
<div><md-button class="md-primary md-raised" ng-click="showQuoteModal($event)">Quote</md-button> </div>
</div>
</div> <!-- card -->          	
</div> <!-- row -->     

</container>





