<div class="container">
	<div class="row">	
		<div class="jumbotron" id="jumboWorkwithus">
			<h1>Work With My Window Cleaner</h1>     
		</div>   
	</div>   
	<section>
		<div class="row">	
			<article>
				<div class="panel panel-default">
					<div class="panel-heading"><h4>Job: EXPERIENCED WINDOW CLEANER</h4></div>
					<div class="panel-body"><h4>Job Description:</h4><br>We understand great window cleaners are like gold dust! We also understand they are often under valued and not treated with the incredible respect they deserve.<br>	
						So, if you think you fit the bill and want to be part of our team please get in contact!<br>	
						We are always looking for long term high quality window cleaners but even more than that…we are looking for polite, friendly happy window cleaners who take pride in what they do and hence are well rewarded for their efforts.<br>	
						You would need to supply your own ladders, transport and equipment. Initial training is provided including safety training and assessment.<br>	

						If you would like to know more please send an e mail to <a href = "mailto:info@mywindowcleaner.co.uk">info@mywindowcleaner.co.uk<a/> with your CV and a covering letter telling us about yourself, what you think you could bring to our team and what attracted you to us.
					</div>
				</div>
			</article>
		</div> 

		<div class="row">
			<article>
				<div class="panel panel-default">
					<div class="panel-heading"><h4>Job: WINDOW CLEANER TRAINING PROGRAMMES WITH GUARANTEED JOB OPPORTUNITY</h4></div>
					<div class="panel-body"><h4>Job Description:</h4><br>If you are looking for a change of career and a secure future in uncertain times a position with us is a great opportunity.
						We offer window cleaner training programmes tailored to an individual’s needs.
						We would highly recommend you have had significant experience working at height
						with ladders and you would need to have a full UK driving licence.
						After satisfactory completion you will be offered work to your requirements.
					</div>
				</div>
			</article>	
		</div> 

		<div class="row">	
			<article>
				<div class="panel panel-default">
					<div class="panel-heading"><h4>Job: DOOR TO DOOR CANVASSER</h4></div>
					<div class="panel-body"><h4>Job Description:</h4><br>Long term part time opportunities available for the right people.
						You must have excellent communication skills and be well organized. Owning a car
						would be a great advantage.<br>	
						The stamina to knock on lots of doors along with the resilience to hear many ‘no thank yous’ and keep positive are a must!
						Branded clothing will be provided.<br>	
						We can be flexible to meet your needs, as long as you can be consistent with your days. Times available to work are Monday to Friday 5pm to 8pm and Saturdays 11am to 4pm by mutual agreement.<br>	
						Excellent rates of pay along with incentive bonus scheme. If you would like to apply please send an e mail to <a href = "mailto:info@mywindowcleaner.co.uk">info@mywindowcleaner.co.uk<a/> with your CV and a covering letter.
					</div>
				</div>
			</article>
		</section>
	</div>