<div class="container">  

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron" id="jumboHome">
            <h1>Welcome to My Window Cleaner, the home of the reliable high quality window cleaning service</h1>            
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            <h1>Our Methods</h1>            
        </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">The traditional Method</div>
        <div class="panel-body"><p>For residential work we currently employ traditional methods as our primary method of window cleaning. We pride ourselves in our standards and find the traditional method remains a firm favourite with the majority of our customers.
Traditional window cleaning always includes cleaning the window sills as standard. 
For commercial work we use a mixture of traditional and reach &amp; wash methods to give the customer the best clean possible.</p>
<span class="aln_right"><md-button class="md-primary md-raised" ng-click="showTradMthd($event)">
      Learn more</md-button></span>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Reach and Wash</div>
        <div class="panel-body"><p>The reach &amp; wash system is a relatively new system in the window cleaning industry. 
A water fed pole uses a very high level of pure water and when pure water flows over a surface, it absorbs all the existing substances on it such as dust and dirt, leaving a smear free surface.</p>
<span class="aln_right"><md-button class="md-primary md-raised" ng-click="showReachWash($event)">
      Learn more</md-button></span>
        </div>
      </div>  
    </div> 
</div> <!--row-->

<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="jumbotron">
            <h1>Services</h1>            
        </div>
    </div>
    <div class="col-md-8 col-sm-12">     
          <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href=".acc1">
              <span class="glyphicon glyphicon-minus"></span>
              External Window Cleaning</a>
            </h4>
          </div>
          <div id="collapse1" class="acc1 panel-collapse collapse in">            
            <div class="panel-body">Glass and window sills cleaned as standard.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href=".acc2">
                <span class="glyphicon glyphicon-plus"></span>
                Internal window Cleaning</a>
              </h4>
            </div>
            <div id="collapse2" class="acc2 panel-collapse collapse">
              <div class="panel-body">Glass and window sills as standard.
                (Secondary double glazing is actually 2 sets of windows and therefore priced accordingly).
                Window cleaners carry protecting shoe covers for use if required when cleaning the insides. 
                *Note – for insides we request that window sills are cleared of ornaments etc in advance of us calling. Also that furniture is not blocking access to the windows. 
                The window cleaners’ public liability does not cover damage to curtains inside the house. Therefore it is at the customer’s discretion if they wish for us to clean the windows with the curtains hanging. We are very careful and so far, in 15 years have never caused damage.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href=".acc3">
                    <span class="glyphicon glyphicon-plus"></span>
                    Conservatory Roofs</a>
                  </h4>
                </div>
                <div id="collapse3" class="acc3 panel-collapse collapse">
                  <div class="panel-body">Usually requested as an annual service we remove dirt, moss and other debris.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href=".acc4">
                      <span class="glyphicon glyphicon-plus"></span>
                      Gutter Clearance</a>
                    </h4>
                  </div>
                  <div id="collapse4" class="acc4 panel-collapse collapse">
                    <div class="panel-body">Blocked gutters can cause serious damage! Before calling out a professional roofer it can be worth checking for simple obstructions like leaves or birds nests. We have also found the odd tennis ball lodged in a downpipe! 
                      We can clear your gutters, a service those who require it will usually need about once a year. 
                      We are usually over half the price of most roofing companies! 
                      We do not undertake repair work but can advise you if you need to call in a professional roofer.

                      For our gutter clearing service we only need the length of the guttering requiring cleaning and how many floors are in the building. 
                      We charge £2 - £2.50 per metre for gutter clearance up to a height of 25 feet from the ground. 
                      For gutters over 25 feet up we would arrange an appointment for an assessment and quotation.

                      For a ‘gutter cleaning only’ service we have a minimum charge of £15. If we are there window cleaning the minimum charge is £10.</div>
                    </div>
                  </div>
                </div>
  
    </div> 
</div>

        
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="jumbotron">
            <h1>Areas Covered</h1> 
            <p>Call: 0203 394 0044<br>
            <span>IF YOU DO NOT SEE YOUR AREA IN THE LIST PLEASE CALL US AT THE OFFICE AND WE WILL TRY OUR BEST TO HELP IF WE CAN. IF WE CAN’T WE WILL TRY TO HELP YOU SOURCE A WINDOW CLEANER WHO DOES COVER YOUR AREA.</span></p>
        </div>
    </div>
<div class="col-md-8 col-sm-12">
  <div id="map"></div>
  <!-- polygon coordinates for Google Maps: -->
  <script src="js/area_coordinates/encoord.js"></script>
  <script src="js/area_coordinates/rmcoord.js"></script>
  <script src="js/area_coordinates/eccoord.js"></script>
  <script src="js/area_coordinates/igcoord.js"></script>
  <script src="js/area_coordinates/ncoord.js"></script>
  <script src="js/area_coordinates/e_coord.js"></script>
  <script src="js/map.js"></script>
  
  
           
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABlmHVEqE46Jgh9fvERagzKHKUHK9P9B4&callback=initMap"
    async defer></script>   
  
</div>

<script type="text/javascript">  $('.collapse').on('shown.bs.collapse', function(){
$(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
}).on('hidden.bs.collapse', function(){
$(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
});
</script>


