<div class="panel panel-default">
    <div class="panel-heading">Reach &amp; Wash</div>
    <div class="panel-body"><p>
The reach &amp; wash system is a relatively new system in the window cleaning industry. 
A water fed pole uses a very high level of pure water and when pure water flows over a surface, it absorbs all the existing substances on it such as dust and dirt, leaving a smear free surface.<br> 
We currently have 4 reach and wash systems which are primarily used for commercial work or where use of ladders is unsafe or where we will achieve a better standard of cleaning for our customers as frames are cleaned for free.<br> 
A factor in which methods we use is parking. Many of the areas we cover have restricted parking available and so use of our reach and wash systems is not currently possible.<br>
We constantly moniter the possibility of introducing more systems along with assessing feedback from our current customers.<br>
<br>
We listen careful to what our customers want and at this time feel the traditional method remains the preferred method for the majority of customers.<span layout="row" class="aln_right">
			<md-button ng-click="cancel()">Close</md-button>
</span></p>
</div> <!-- body -->
</div>
