
<div class="container-fluid">

  <h1>Get a Quote</h1>
<div class="panel panel-default">
				<div class="panel-heading">My Window Cleaner</div>
				<div class="panel-body">

				<input type="text" class="span2" value="" id="dp2">
				<script>
	    		$('#dp2').datepicker({format: "dd/mm/yyyy",
	    		daysOfWeekDisabled: "0,6",
	    		autoclose: true,
	    		todayHighlight: true});
	  			</script> 
				</input>

				</div>  
</div>
</div>


 <!-- <div class="panel-heading">My Window Cleaner</div>
    <div class="panel-body">
<input type="text" class="span2" value="" id="dp2">
<script>
    $('#dp2').datepicker({format: "dd/mm/yyyy",
    daysOfWeekDisabled: "0,6",
    autoclose: true,
    todayHighlight: true});
  </script> 
</input>

</div>

 -->