<div class="panel panel-default">
    <div class="panel-heading">The Traditional Method</div>
    <div class="panel-body"><h4>Frame cleaning</h4>
For frame cleaning it’s simple. A professional product is used along with good old fashioned elbow grease! We clean the dirt off the frames but do not restore the whiteness of UPVC frames. We charge from double on top of the price of a standard glass and sill clean for frame cleaning, simply reflecting the additional time it takes. 
<h4>How often would I need to have my frames cleaned?</h4>
If you live on a quiet road no more than once a year should keep your property looking smart. 
If you are on a road that has heavy traffic flow then you may need your frames cleaned as often as every 6 months. 
Our recommendations are a guide to assist you with your budget planning. 
As with all our services it’s your choice.
<iframe width="560" height="315" src="https://www.youtube.com/embed/F4B6FGw0E4o" frameborder="0" allowfullscreen></iframe>
<span layout="row" class="aln_right">
			<md-button class="md-button md-primary md-ink-ripple md-raised"  ng-click="cancel()">Close</md-button>
</span></p>
</div> <!-- body -->
</div>